section.second {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

body {
    display: grid;
    grid-template-rows: 8% 92%;
}

main {
    display: grid;
    grid-template-rows: 16% 84%;
}

section.outer {
    display: grid;
    grid-template-rows: 30% 60% 10%;
}

section.first {
    display: grid;
    grid-template-rows: repeat(2, 50%);
}

section.second {
    display: grid;
    grid-template-rows: repeat(2, 50%);
}

@media (min-width:768px) {
    header {
        background-color: #e40017;
    }
    aside {
        background-color: #484018;
    }
    section.first div:nth-child(1) {
        background-color: #5b6d5b;
    }
    section.first div:nth-child(2) {
        background-color: #f4c983;
    }
    section.second div:nth-child(1) {
        background-color: #791857;
    }
    section.second div:nth-child(2) {
        background-color: #374045;
    }
    section.second div:nth-child(3) {
        background-color: #d89216;
    }
    section.second div:nth-child(4) {
        background-color: #e1d89f;
    }
    section>div {
        background-color: #f88f01;
    }
    section.first {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 100%;
    }
    section.second {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: 100%;
    }
}

@media (min-width:960px) {
    header {
        background-color: #f1d4d4;
    }
    aside {
        background-color: #cc0e74;
    }
    section.first div:nth-child(1) {
        background-color: #e6739f;
    }
    section.first div:nth-child(2) {
        background-color: #790c5a;
    }
    section.second div:nth-child(1) {
        background-color: #6a097d;
    }
    section.second div:nth-child(2) {
        background-color: #ce9e1a;
    }
    section.second div:nth-child(3) {
        background-color: #00b7c2;
    }
    section.second div:nth-child(4) {
        background-color: #0f4c75;
    }
    section>div {
        background-color: #848ccf;
    }
    main {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 20% 80%;
    }
}